* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: Roboto, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

header {
  width: 100%;
  height: 350px;
}

section {
  margin-top: 20px;
}

.container {
  border-radius: 3px;
  padding: 30px 0;
}

.about-me {
  margin-top: -200px;
}

.about-me__name {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-me__name img {
  margin-top: 70px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.about-me__name h1 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 300;
  color: #424242;
  width: 90%;
  text-align: center;
}

.about-me__name h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 300;
  color: #757575;
  margin-bottom: 20px;
  width: 90%;
  text-align: center;
}

.about-me__info {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 50px;
}

.about-me__info_discr {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me__info_discr div {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about-me__info_discr div h1 {
  margin: 0;
  margin-top: 10px;
  font-size: 18px;
}

.about-me__info_discr .block-1 h1 {
  font-weight: 400;
}

.about-me__info_discr .block-2 {
  margin-left: 20px;
}

.about-me__info_discr .block-2 h1 {
  font-weight: 300;
  color: #757575;
}

.about-me__info_cv a {
  background: #00bcd4;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.about-me__info_cv a:hover {
  background: #0097a7;
}

.about-me .social-icons {
  padding: 10px 0;
  border-radius: 0 0 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-me .social-icons a {
  color: #fff;
  margin-left: 50px;
  -webkit-transition: all, 0.7s;
  transition: all, 0.7s;
}

.about-me .social-icons a:first-child {
  margin-left: 0;
}

.about-me .social-icons a:hover {
  color: #fff176;
}

.about-me .social-icons a i {
  font-size: 34px;
}

@media only screen and (max-width: 767px) {
  header {
    height: 250px;
  }
  .about-me {
    margin-top: -140px;
  }
  .about-me__name h1 {
    font-size: 32px;
  }
  .about-me__name h2 {
    font-size: 22px;
  }
  .about-me__info {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 30px;
  }
  .about-me__info_discr div h1 {
    font-size: 16px;
  }
  .about-me__info_cv {
    margin: 0 auto;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 567px) {
  .about-me {
    margin-top: -175px;
  }
  .about-me__name h1 {
    font-size: 28px;
  }
  .about-me__name h2 {
    font-size: 20px;
  }
  .about-me__info {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
    padding-left: 10px;
  }
  .about-me__info_discr div h1 {
    font-size: 16px;
  }
  .about-me__info_cv {
    margin: 0 auto;
    margin-top: 30px;
  }
  .about-me .social-icons a {
    margin-left: 30px;
  }
  #tell-number__lifecell {
    display: none;
  }
}

.title-heading {
  font-size: 35px;
  font-weight: 300;
  color: #424242;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.my-skills__block {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-skills__block .skills__img {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 45%;
  margin-left: 5%;
  background: url(../img/HTML-programing.jpeg) no-repeat center/cover;
}

.my-skills__block .my-skills__chips {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 40%;
  margin-left: 30px;
  margin-top: -10px;
}

.chip {
  background: #e0e0e0;
  margin-top: 10px;
  cursor: pointer;
}

.chip:hover {
  background: #bdbdbd;
}

.chip_select {
  background: #bdbdbd;
}

@media only screen and (max-width: 767px) {
  .my-skills__block .skills__img {
    display: none;
  }
  .my-skills__block .my-skills__chips {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
    padding: 0 5%;
  }
}

.my-education__diplom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.my-education__diplom h1 {
  font-size: 25px;
  font-weight: 300;
  color: #616161;
  margin: 0 auto;
  margin-bottom: 10px;
}

.my-education__diplom_diit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.my-education__diplom_diit img {
  width: 150px;
}

.my-education__diplom_diit .speciality {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 35px;
}

.my-education__diplom_diit .speciality h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #616161;
  margin-bottom: 5px;
}

.my-education__diplom_diit .speciality span {
  font-size: 14px;
  font-weight: 300;
  color: #757575;
}

@media only screen and (max-width: 767px) {
  .my-education__diplom_diit .speciality {
    width: 310px;
    margin-left: 15px;
  }
  .my-education__diplom_diit .speciality h3 {
    font-size: 16px;
  }
  .my-education__diplom_diit .speciality span {
    font-size: 13px;
  }
}

@media only screen and (max-width: 567px) {
  .my-education__diplom h1 {
    margin-bottom: 20px;
  }
  .my-education__diplom_diit img {
    display: none;
  }
  .my-education__diplom_diit .speciality {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
    text-align: center;
  }
}

.my-works {
  margin-bottom: 30px;
}

.my-works__block .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.my-works__block .works .murcup {
  width: 210px;
  height: 250px;
  border-radius: 3px;
  margin: 10px;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

.my-works__block .works .murcup:hover {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

#last {
  margin-bottom: 20px;
}
