@charset "UTF-8";

// Mixins
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/badges";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/transitions";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/tapTarget";
@import "components/pulse";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";


* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: Roboto, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 710px;
  margin: 0 auto;
  position: relative;
}

.top-bg {
  width: 100%;
  height: 350px;
}

section {
  margin-top: 20px;
}

.about-me {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  margin-top: -235px;

  .about-me__name {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;

    #my-photo {
      margin-top: 70px;
      width: 100px;
      height: 100px;
      border-radius: 50px
    }

    h1 {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 35px;
      font-weight: 300;
      color: #424242;
    }

    h2 {
      margin: 0;
      font-size: 25px;
      font-weight: 300;
      color: #757575;
      margin-bottom: 20px;
    }
  }

  .about-me__info {
    width: 600px;
    display: flex;

    .info-discription {
      width: 380px;
      display: flex;

      .discription-info {
        display: flex;
        flex-direction: column;

        span {
          font-size: 16px;
          margin-top: 5px;
        }
      }

      .discription-info_01 {
        font-weight: 400;
      }

      .discription-info_02 {
        font-weight: 300;
        color: #666;
        margin-left: 15px;
      }
    }

    .my-cv {
      height: inherit;
      display: flex;
      align-items: center;

      .download-my-cv {
        width: 150px;
        height: 35px;
        font-size: 14px;
        font-weight: 300;
        padding: 0;
        padding-right: 7px;

        i {
          font-size: 24px;
          margin-left: -10px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .my-socials {
    width: inherit;
    height: 70px;
    background: #009900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .my-socials__icons {
      margin-top: 10px;
      width: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .my-socials__icons_icon {
        color: #fff;
        transition: all, 0.5s;

        &:hover {
          color: #fff176;
        }
      }

      .fa-telegram {
        font-size: 40px;
      }
    }
  }
}

.title-heading {
  font-size: 35px;
  font-weight: 300;
  color: #424242;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-skills {
  width: inherit;
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  .my-skills__progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .my-progress {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .my-progress__line {
      width: inherit;
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .scill_percent {
        width: inherit;
        display: flex;
        justify-content: space-between;

        span {
          font-size: 16px;
          font-weight: 300;
          color: #757575;
        }
      }

      .progress {
        width: inherit;
        border-radius: 345px;
        background: #bdbdbd;
      }
    }
  }

  #img_programming {
    width: 300px;
    height: 180px;
    margin-right: 20px;
    border-radius: 3px;
  }

  .skills_chips {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
  }
}

.chip {
  background: #e0e0e0;

  &:hover {
    background: #bdbdbd;
  }
}

.chip_select {
  background: #bdbdbd;
}

.my_education {
  width: inherit;
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  .diplom {
    width: inherit;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    h1 {
      font-size: 25px;
      font-weight: 300;
      color: #616161;
      margin: 0 auto;
    }

    .diit {
      width: inherit;
      display: flex;

      img {
        width: 150px;
        margin-left: 30px;
      }

      .spec {
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;

        h3 {
          margin: 0;
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;
          color: #616161;
          margin-bottom: 5px;
        }

        span {
          font-size: 14px;
          font-weight: 300;
          color: #757575;
        }
      }
    }
  }
}

.my_works {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  .works {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.murcup {
  width: 210px;
  height: 250px;
  border-radius: 3px;
  margin: 10px;
  transition-property: all;
  transition-duration: 0.5s;

  &:hover {
    @extend .z-depth-5;
  }
}

#last {
  margin-bottom: 20px;
}
