// to compile...

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  font-family: Roboto, Arial sans-serif;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  height: 350px;
}

section {
  margin-top: 20px;
}

.container {
  border-radius: 3px;
  padding: 30px 0;
}

.about-me {
  margin-top: -200px;

  &__name {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


    img {
      margin-top: 70px;
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }

    h1 {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 15px;
      font-size: 35px;
      font-weight: 300;
      color: #424242;
      width: 90%;
      text-align: center;
    }

    h2 {
      margin: 0;
      font-size: 25px;
      font-weight: 300;
      color: #757575;
      margin-bottom: 20px;
      width: 90%;
      text-align: center;
    }
  }

  &__info {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 50px;

    &_discr {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      div {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        h1 {
          margin: 0;
          margin-top: 10px;
          font-size: 18px;
        }
      }

      .block-1 {
        h1 {
          font-weight: 400;
        }
      }

      .block-2 {
        margin-left: 20px;
        h1 {
          font-weight: 300;
          color: #757575;
        }
      }
    }

    &_cv {
      a {
        background: #00bcd4;
        -webkit-transition: all, 0.5s;
        transition: all, 0.5s;

        &:hover {
          background: #0097a7;
        }
      }
    }
  }

  .social-icons {
    padding: 10px 0;
    border-radius: 0 0 3px 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    a {
      color: #fff;
      margin-left: 50px;
      -webkit-transition: all, 0.7s;
      transition: all, 0.7s;

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        color: #fff176;
      }

      i {
        font-size: 34px;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  header {
    height: 250px;
  }

  .about-me {
    margin-top: -140px;

    &__name {
      h1 {
        font-size: 32px;
      }

      h2 {
        font-size: 22px;
      }
    }

    &__info {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 15px;
      padding-left: 30px;

      &_discr {
        div {
          h1 {
            font-size: 16px;
          }
        }
      }

      &_cv {
        margin: 0 auto;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .about-me {
    margin-top: -175px;

    &__name {
      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 20px;
      }
    }

    &__info {
      display: -ms-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 0;
      padding-left: 10px;

      &_discr {
        div {
          h1 {
            font-size: 16px;
          }
        }
      }

      &_cv {
        margin: 0 auto;
        margin-top: 30px;
      }
    }

    .social-icons {
      a {
        margin-left: 30px;
      }
    }
  }

  #tell-number__lifecell {
    display: none;
  }
}

.title-heading {
  font-size: 35px;
  font-weight: 300;
  color: #424242;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

// .my-skills {
//   width: inherit;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//       -ms-flex-direction: column;
//           flex-direction: column;
//   border-radius: 2px;
//
//   .my-skills__progress {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: justify;
//         -ms-flex-pack: justify;
//             justify-content: space-between;
//     -webkit-box-align: center;
//         -ms-flex-align: center;
//             align-items: center;
//   }
//
//   .my-progress {
//     width: 300px;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//         -ms-flex-direction: column;
//             flex-direction: column;
//     margin-top: 15px;
//
//     .my-progress__line {
//       width: inherit;
//       display: -webkit-box;
//       display: -ms-flexbox;
//       display: flex;
//       -webkit-box-orient: vertical;
//       -webkit-box-direction: normal;
//           -ms-flex-direction: column;
//               flex-direction: column;
//       margin-left: 20px;
//
//       .scill_percent {
//         width: inherit;
//         display: -webkit-box;
//         display: -ms-flexbox;
//         display: flex;
//         -webkit-box-pack: justify;
//             -ms-flex-pack: justify;
//                 justify-content: space-between;
//
//         span {
//           font-size: 16px;
//           font-weight: 300;
//           color: #757575;
//         }
//       }
//
//       .progress {
//         width: inherit;
//         border-radius: 345px;
//         background: #bdbdbd;
//       }
//     }
//   }
//
//   #img_programming {
//     width: 300px;
//     height: 180px;
//     margin-right: 20px;
//     border-radius: 3px;
//   }
//
//   .my-skills__chips {
//     width: 580px;
//     margin: 0 auto;
//     margin-top: 30px;
//     margin-bottom: 20px;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//         -ms-flex-pack: center;
//             justify-content: center;
//     -ms-flex-wrap: wrap;
//         flex-wrap: wrap;
//     cursor: pointer;
//   }
// }

.my-skills {
  &__block {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .skills__img {
      -webkit-box-flex:1;
          -ms-flex-positive:1;
              flex-grow:1;
      width: 45%;
      margin-left: 5%;
      background: url(../img/HTML-programing.jpeg) no-repeat center / cover;
    }

    .my-skills__chips {
      -ms-flex-negative:0;
          flex-shrink:0;
      width: 40%;
      margin-left: 30px;
      margin-top: -10px;
    }
  }
}

.chip {
  background: #e0e0e0;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    background: #bdbdbd;
  }
}

.chip_select {
  background: #bdbdbd;
}

@media only screen and (max-width : 767px) {
  .my-skills {
    &__block {
      .skills__img {
        display: none;
      }

      .my-skills__chips {
        display: -ms-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%;
        margin-left: 0px;
        padding: 0 5%;
      }
    }
  }
}

.my-education {
  &__diplom {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    h1 {
      font-size: 25px;
      font-weight: 300;
      color: #616161;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    &_diit {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;

      img {
        width: 150px;
      }

      .speciality {
        width: 420px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: 35px;

        h3 {
          margin: 0;
          font-size: 18px;
          font-weight: 300;
          text-transform: uppercase;
          color: #616161;
          margin-bottom: 5px;
        }

        span {
          font-size: 14px;
          font-weight: 300;
          color: #757575;
        }
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .my-education {
    &__diplom {
      &_diit {
        .speciality {
          width: 310px;
          margin-left: 15px;

          h3 {
            font-size: 16px;
          }

          span {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 567px) {
  .my-education {
    &__diplom {
      h1 {
        margin-bottom: 20px;
      }

      &_diit {
        img {
          display: none;
        }

        .speciality {
          width: 100%;
          margin-left: 0;
          padding: 0 15px;
          text-align: center;
        }
      }
    }
  }
}

.my-works {
  margin-bottom: 30px;

  &__block {
    .works {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;

      .murcup {
        width: 210px;
        height: 250px;
        border-radius: 3px;
        margin: 10px;
        -webkit-transition: all, 0.5s;
        transition: all, 0.5s;

        &:hover {
        -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
                box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

#last {
  margin-bottom: 20px;
}

@media only screen and (max-width : 567px) {

}
